@model SchoolSystems.Models.Roles

@{
    ViewData["Title"] = "Details";
}
<div class="card shadow">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Details Roles</h6>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RolesId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RolesId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RolesName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RolesName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RolesIvI)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RolesIvI)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.RolesId" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>

        </div>
    </div>
</div>