@model IEnumerable<SchoolSystems.Models.Issues>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Issues Index</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Issues</h6>
            <div class="text-right">
                <a asp-action="Create" class="btn btn-primary">Create New</a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BooksId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesDate)
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssuesId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Student.StudentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Books.BookName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssuesDate)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.IssuesId " class="text-primary"><i class="fa fa-edit"></i></a>|
                                    <a asp-action="Details" asp-route-id="@item.IssuesId " class="text-info "><i class="fa fa-info-circle"></i></a>|
                                    <a asp-action="Delete" asp-route-id="@item.IssuesId " class="text-danger"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
